# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.env
.env.*

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Build
build/
dist/
*.egg-info/

# Pytest
.pytest_cache/

# mypy
.mypy_cache/

# Database files
*.db
*.sqlite3

# Secrets
config.py

